:root {
    --primary-bg: #08e534;
    --primary-text: #050505eb;
    --standard-gap: 40px;
}

body {
    font-family: sans-serif;
    background: var(--primary-bg);
    color: var(--primary-text);
}

#Projects article {
    margin: var(--standard-gap);
}

nav {
    background: var(--primary-text);
}
